In [ ]:
%%capture
pip install psycopg2-binary

In [ ]:
!mkdir -p ~/.aws && cp /content/drive/MyDrive/AWS/d01_admin/* ~/.aws
!chmod 600 ~/.aws/credentials
!pip install awscli

In [ ]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
from sqlalchemy import text

In [ ]:
redshift_endpoint1 = "<endpoint>"
redshift_user1 = "adminuser"
redshift_pass1 = ""
port1 = 5439
dbname1 = "dev"

In [ ]:
engine_string = "postgresql+psycopg2://%s:%s@%s:%d/%s" \
% (redshift_user1, redshift_pass1, redshift_endpoint1, port1, dbname1)
engine = create_engine(engine_string)

In [ ]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

df = pd.read_sql_query(text(query), engine)
df

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers
0,pg_internal,redshift_auto_health_check_10919271,rdsdb,None,False,False,False
1,public,sales,rdsdb,None,False,False,False
2,public,listing,rdsdb,None,False,False,False
3,public,event,rdsdb,None,False,False,False
4,public,date,rdsdb,None,False,False,False
5,public,category,rdsdb,None,False,False,False
6,public,venue,rdsdb,None,False,False,False
7,public,users,rdsdb,None,False,False,False

In [ ]:
query = """
SELECT * FROM "dev"."public"."users";
"""

df = pd.read_sql_query(text(query), engine)
df

,userid,username,firstname,lastname,city,state,email,phone,likesports,liketheatre,likeconcerts,likejazz,likeclassical,likeopera,likerock,likevegas,likebroadway,likemusicals
0,2,PGL08LJI,Vladimir,Humphrey,Murfreesboro,SK,Suspendisse.tristique@nonnisiAenean.edu,(783) 492-1886,None,None,None,True,True,None,None,True,False,True
1,4,XDZ38RDD,Barry,Roy,Omaha,AB,sed@lacusUtnec.ca,(355) 452-8168,False,True,None,False,None,None,None,None,None,False
2,5,AEB55QTM,Reagan,Hodge,Forest Lake,NS,Cum@accumsan.com,(476) 519-9131,None,None,True,False,None,None,True,True,False,True
3,7,OWY35QYB,Tamekah,Juarez,Moultrie,WV,elementum@semperpretiumneque.ca,(297) 875-7247,None,None,None,True,True,False,None,None,False,False
4,9,MSD36KVR,Mufutau,Watkins,Port Orford,MD,Integer.mollis.Integer@tristiquealiquet.org,(725) 719-7670,True,False,None,False,True,None,None,None,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49985,49983,RCS76EGO,Colorado,Fuller,Blacksburg,SK,dolor.sit@acmattisvelit.com,(894) 748-8662,True,True,True,True,None,None,True,None,False,None
49986,49984,FFP96MVH,Caryn,Cabrera,Beckley,CO,ac.turpis.egestas@scelerisquelorem.ca,(641) 730-2786,True,None,True,None,None,False,None,None,True,None
49987,49986,WSZ25RSI,Basil,Sexton,Milwaukee,CO,sociis.natoque.penatibus@vitae.org,(858) 335-0367,True,None,True,None,None,None,True,None,True,True
49988,49989,RRS41ZTJ,Evangeline,Franco,Bakersfield,NT,nibh.enim@egestas.ca,(976) 963-7780,None,None,None,False,False,None,False,None,False,True
49989,49990,ILI20QYV,Iola,Avery,Frankfort,NU,urna.Ut@egetdictumplacerat.edu,(443) 197-1154,None,None,None,None,None,None,None,True,True,True